{% extends "posts/app_base.html" %}

{% block title %}Post details{% endblock %}

{% block app %}
<table>
    <tr>
        <th>Id</th>
        <td>{{ post.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ post.title }}</td>
    </tr>
    <tr>
        <th>Content</th>
        <td>{{ post.content }}</td>
    </tr>
    <tr>
        <th>Created:</th>
        <td>{{ post.created }}</td>
    </tr>
    <tr>
        <th>Modified</th>
        <td>{{ post.modified }}</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{ post.author }}</td>
    </tr>
</table>
<a href="{% url 'posts:p_list' %}">back</a>"
{% endblock %}